@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Rubik", sans-serif;
    height: 100%;

  }
  body {
    @apply bg-white-500;
  }
  p {
    @apply text-black-500;
  }

.animation-hover:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    @apply w-0 bg-purple-500 left-1/2 block bottom-0 absolute;
  }
  .animation-active:after {
    @apply left-0 w-full;
  }
  .animation-hover:hover:after {
    @apply left-0 w-full;
  }
  

  li.custom-list:before {
    content: "\2022"; /* bullet point, for screen readers */
    text-indent: -9999999px; /* move the bullet point out of sight */
  
    width: 0.4em;
    height: 1em;
    background-repeat: no-repeat;
  
    background-size: 0.4em 0.7em;
    background-position: 0 0.3em;
    font-size: 300%;
    top: -0.35em;
    @apply absolute block;
  }
  li.circle-check:before {
    background-image: url("@/assets/Icon/checklist.svg");
    left: -0.7em;
    top: -0.4em;
  }
  li.check:before {
    left: -0.5em;
    background-image: url("@/assets/Icon/jam_check.svg");
    top: -0.5em;
    font-size: 400%;
  }
  /* Slideshow */
  .slick-dots li {
    @apply inline-block;
  }
  .slick-dots span {
    @apply bg-gray-500;
  }
  .slick-dots .slick-active span {
    @apply bg-purple-500 rounded-l-full rounded-r-full w-12;
  }
  

  .quick-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09); */
    Box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.quick-stats:hover {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    Box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

  /* Success theme */
  .v-toast__item--.success {
    background-color: #5cfbbe !important;
    color: #fff;
  }

  /* Error theme */
  .v-toast__item--error  {
    background-color: #fb5c5c !important;
    color: #fff !important;
  }

   /* Error theme */
   .v-toast__item--error .v-toast__text {
    color: #fff !important;
  }


.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.slide-fade-reverse-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-reverse-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-reverse-enter-from,
.slide-fade-reverse-leave-to {
  transform: translateX(-20px); /* Reverse the direction */
  opacity: 0;
}